td.cn div{
  background-color: rgb(245, 246, 247);
}
td.c1 div{
  background-color: #000000;
}
td.c2 div{
  background-color: #7F7F7F;
}
td.c3 div{
  background-color: #880015;
}
td.c4 div{
  background-color: #ED1C24;
}
td.c5 div{
  background-color: #FF7F27;
}
td.c6 div{
  background-color: #FFF200;
}
td.c7 div{
  background-color: #22B14C;
}
td.c8 div{
  background-color: #00A2E8;
}
td.c9 div{
  background-color: #3F48CC;
}
td.c10 div{
  background-color: #A349A4;
}
td.c11 div{
  background-color: #FFFFFF;
}
td.c12 div{
  background-color: #C3C3C3;
}
td.c13 div{
  background-color: #B97A57;
}
td.c14 div{
  background-color: #FFAEC9;
}
td.c15 div{
  background-color: #FFC90E;
}
td.c16 div{
  background-color: #EFE4B0;
}
td.c17 div{
  background-color: #B5E61D;
}
td.c18 div{
  background-color: #99D9EA;
}
td.c19 div{
  background-color: #7092BE;
}
td.c20 div{
  background-color: #C8BFE7;
}
