table.styles {
  border-spacing: 0;
}

table.styles tr td {
  font: 14px arial, sans-serif;
  border-width: 4px;
  border-color: white;
  border-style: solid;
  width: 110px;
  padding: 4px;
  margin: 0;

}

table.styles tr td.normal{
  border-color:rgb(197,197,197);
}

.bad{
  background-color: rgb(255, 198, 206);
  color:rgb(156, 0, 6);
}

.bad:hover{
  border-color:rgb(197,197,197);
}
.good{
  background-color: rgb(198, 239, 206);
  color:rgb(0, 97, 0);
}

.good:hover{
  border-color:rgb(197,197,197);
}

.neutral{
  background-color: rgb(255, 235, 156);
  color:rgb(156, 0, 1);
}

.neutral:hover{
  border-color:rgb(197,197,197);
}

div.container {
  border: 2px rgb(171, 175, 178) solid;
  padding: 2px 0 2px 0;
  display: inline-block;
}
